@import "github";

/* Main Elements */
html {
    cursor: default;
    font: 12px/17px "Lucida Grande", "Tahoma", "Arial", sans-serif;
    -webkit-user-select: auto;
    color: #767676;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .77);
}
body {min-height: 100%;padding: 10px 0 20px;box-sizing: border-box;}
html, body {background-color: #ecebe8;}
#wrapper {position: relative;z-index: 2;min-height: 100%;margin: 0 auto;padding: 20px;}
section {position: relative;overflow: hidden;margin: 0 0 40px;}
.breadcrumb, .gist {margin: 0 0 20px;}
.right {float:right;}
h3 + div {margin: 0 0 35px;}


/* Headers */
h1, h2, h3, h4 {
    margin: 0 0 15px;
    color: #303031;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
}

/* Text */
.description {font-size:1.5em;font-style:italic;font-family:Georgia;padding:0 0 25px;line-height:25px;}


/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}


/* Drop Box */
#drop_box {border:4px dashed #333;width:100%;height:200px;padding:10px;}
#drop_box.over {opacity:0.8;border-color:#74c043;}

/* Index */
#index a:hover {color:#83be20;}


// MINE
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";

#index h1 {
    font-size: 48px;
    line-height: 83px;
    margin-bottom: 1em;
}
.row {
    display: table;
    margin-bottom: 27px;
}
input, button {
    border-radius: 3px;
    border: 0;
    padding: 7px;
    margin: 0;
    float: left;
    margin-right: 10px;
}
input {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.50);
    width: 256px;
    font-size: 24px;

    &:focus {
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.25);
    }
}
button {
    $button-color: #000000;
    box-shadow: 0 1px 0 rgba($button-color,0.50);
    font-size: 16px;
    height: 42px;
    width: 75px;
    cursor: pointer;
    background: rgba($button-color,0.05);
    color: $button-color;

    &:focus, &:hover {
        color: rgba($button-color,0.7);
        box-shadow: 0 1px 0 rgba($button-color,0.35);
    }

    &:active {
        box-shadow: none;
        position: relative;
        bottom: -1px;
        color: rgba($button-color,0.5);
    }

}
input, button {
    $time: 200ms;
    @include transition(color $time linear, box-shadow $time linear, position $time linear);
}
.row.img, #artwork {
    width: 100%;
}

@media (max-width: 480px) {
    #wrapper {
        padding: 0 10px 10px;
    }
    #index h1 {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 1em;
    }
}